<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- 
		<add name="MyConnection"
			 connectionString="Data Source=.;Initial Catalog=SmartphoneCoverShopDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		-->
		
		<add name="MyConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SmartphoneCoverShopDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>